@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  /*font-size: 10px;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a1b38;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* =========================== App ==============================*/
.App {
  margin: 3rem;
  display: flex;
  justify-content: center;
}

/* =========================== ToDoList ==============================*/
.ToDoList {
  width: 469px;
  /*height: 496px;*/
  background: #eaeaf5;
  box-shadow: 5px 5px 50px 2px #928ed7;
  border-radius: 30px;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ToDoList-title {
  font-family: Bungee Shade;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: #1a1b38;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.ToDoList-todos {
  margin: 0.5rem 0;
}

.Button-add,
.Button-save {
  width: 64px;
  height: 38px;
  background: #1a1b38;
  box-shadow: 2px 4px 10px 1px rgba(26, 27, 56, 0.3);
  border-radius: 40px;
  color: #eaeaf5;
  font-size: 20px;
  cursor: pointer;
  border: none;
  margin: 0 0 0 0.5rem;
}

.Button {
  border: none;
  width: 51px;
  height: 28px;
  border-radius: 60px;
  font-size: 16px;
  color: #1a1b38;
  cursor: pointer;
}

.lite-green {
  background: #dae79d;
}

.lite-pink {
  background: #e7aa9d;
  margin: 0.3rem;
}

.ToDoForm-input,
.ToDoItem-save-input {
  width: 400px;
  height: 38px;
  background: #eaeaf5;
  border: 4px solid #393c7b;
  box-sizing: border-box;
  box-shadow: 2px 4px 10px 1px rgba(26, 27, 56, 0.3);
  border-radius: 40px;
  padding: 0.5rem 0.75rem;
}

.ToDoForm-input:focus,
.ToDoItem-save-input:focus {
  outline: none;
  border: 4x solid pink;
}

.ToDoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 0 0 0 1rem;
  width: auto;
  height: 38px;
  color: #ffffff;
  background: #1a1b38;
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  font-size: 12px;
}

.ToDoItem-content {
  cursor: pointer;
}

.ToDoForm {
  display: flex;
  margin: 1rem 0;
}
